/* .navbar{
	border-radius: 0px;
}

.navbar-brand{

} */
img.img-avatar{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 5px;
}

button.btn.btn-default.account-menu {
	border-color: #2ecc71;
	background-color: #2ecc71;
	color: white;
}

button.btn.btn-default.account-menu:focus,
button.btn.btn-default.account-menu:hover{
	color: whitesmoke;
	background-color: #2ecc71;
	border-color: #2ecc71;	 
}


ul.dropdown-menu>li>a>i {
	margin-right: 15px;
} 

.bg-green{
	background-color: #2ecc71;
	color: #eaecee;
}

.bg-green-alt{
	background-color: #eaecee;
	color: #2ecc71;
}

.bg-btn-cancel{
	border-color: #e74c3c;
	background-color: #eafaf1;
	color: #e74c3c;
}

.bg-btn-hold{
	border-color: #2ecc71;
	background-color: #eafaf1;
	color: #2ecc71;
}

.bg-green-soft{
	background-color: #eafaf1;
}

.my-btn{
	border-radius: 50px;
}

button.btn-menu{
	height: 100px;
	border-color: #2ecc71;
	background-color: white;
	color: #2ecc71;
	font-size: 20px;
	padding: 10px;
}

button.btn-menu>img{
	height: 40px;
}

.menunya{
	overflow-y: auto;
}

a:hover{
	color: #abebc6;
	text-decoration: none;
}
.add-link {
	color: #2ecc71;
	text-decoration: none;
}

.btn-hapus{
	padding-right: 0px;
}

div.title-menu>h4{
	text-align: center;
	/* color: #eceff1; */
}
div.title-menu>p.p-harga {
	text-align: center;
	color: #2ecc71;
}